@import "bower_components/bootstrap/scss/functions";
//@import "bower_components/bootstrap/scss/functions";
//@import "custom";
@import "bower_components/bootstrap/scss/variables";

@import "bower_components/bootstrap/scss/mixins";
@import "bower_components/bootstrap/scss/root";
@import "bower_components/bootstrap/scss/reboot";
@import "bower_components/bootstrap/scss/type";
@import "bower_components/bootstrap/scss/images";
@import "bower_components/bootstrap/scss/code";
@import "bower_components/bootstrap/scss/grid";
@import "bower_components/bootstrap/scss/tables";
@import "bower_components/bootstrap/scss/forms";
@import "bower_components/bootstrap/scss/buttons";
@import "bower_components/bootstrap/scss/transitions";
@import "bower_components/bootstrap/scss/dropdown";
@import "bower_components/bootstrap/scss/button-group";
@import "bower_components/bootstrap/scss/input-group";
@import "bower_components/bootstrap/scss/custom-forms";
@import "bower_components/bootstrap/scss/nav";
@import "bower_components/bootstrap/scss/navbar";
@import "bower_components/bootstrap/scss/card";
@import "bower_components/bootstrap/scss/breadcrumb";
@import "bower_components/bootstrap/scss/pagination";
@import "bower_components/bootstrap/scss/badge";
@import "bower_components/bootstrap/scss/jumbotron";
@import "bower_components/bootstrap/scss/alert";
@import "bower_components/bootstrap/scss/progress";
@import "bower_components/bootstrap/scss/media";
@import "bower_components/bootstrap/scss/list-group";
@import "bower_components/bootstrap/scss/close";
@import "bower_components/bootstrap/scss/modal";
@import "bower_components/bootstrap/scss/tooltip";
@import "bower_components/bootstrap/scss/popover";
@import "bower_components/bootstrap/scss/carousel";
@import "bower_components/bootstrap/scss/utilities";
@import "bower_components/bootstrap/scss/print";
@import "fonts/fonts.css";
@import "fonts/icons/css/font_icons.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";


/*--- bootstrap variable ---*/

$border-radius: .125rem;
$input-border-color: $light;
$enable-shadows: false;
$card-border-radius: 0;
$grid-gutter-width: 20px;
$font-weight-bold: HelveticaNeue-Bold,
sans-serif;
$leftColumnwidth: 350px;
$accountColumnwidth: 350px;
/*--- bootstrap variable ---*/

$font-stack: HelveticaNeue,
sans-serif;
$primary-regular-font: HelveticaNeue,
sans-serif;
$secondary-bold-font: HelveticaNeue-Bold,
sans-serif;
$primary-extended-font: HelveticaNeueMedium11,
sans-serif;
$primary-lightExt-font: HelveticaNeueLight08,
sans-serif;
$primary-boldExt-font: harabara_maisharabaramaisdemo,
sans-serif;
$primary-color: #212121;



$box-shadow: 0 1px 3px 0 rgba(35, 31, 32, .4);
$header-padding:1px 0;
$footer-bg-color: #212121;
$header-bg-color: #071B22;
$search-filter-bg-color: rgba(7, 27, 38, 0.8);



$primary: #071B22;
$secondary: #212121;
$danger: #f53d3d;
$light: #f4f4f4;
$dark: #212121;
$white: #ffffff;
$blue: #249DD0;
$blacklight: rgba(7, 27, 38, 0.8);
$text-align: center;
$text-transform: uppercase;
$text_decoration_none: none;

/*----btns----*/

$btn-border-radius:0;
$btn-border-width:1px;
$btn-border-color:transparent;
$btn-primary-background-color:#ffffff;
$btn-lightblue-background-color:#249DD0;
$btn-border-style:solid;
$btn-font-size:14px;
$btns-box-shadow:0 2px 5px 0 rgba(149, 149, 149, 0.50);
$btns-text-transform:uppercase;
$btn-border:none;


/*----Theme Color----*/

$theme-color:#249DD0;
$theme-text-color:#212121;
$search-bg-color: #071B22;



/*----text-color----*/

$footer-text-color:#fff;


/*----forms-color----*/

$fildes-outer-border:1px;
$fildes-background-color:#ffffff;
$fildes-position:relative;
$fildes-border-radius:0px;
$fildes-padding:7px 7px 0 0px;
$fildes-border-color:#F3F3F3;
$fildes-border-style:solid;
$fildes-title-color:#fff;


html {
    font-size: 14px;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: none;


}

.btn:focus,
.btn.focus {
    box-shadow: 0 2px 5px 0 rgba(149, 149, 149, 0.5);

}

img {
    max-width: 100%;
}


@mixin btn-theme {
    background-color: $white;
    box-shadow: 0 2px 5px 0 rgba(149, 149, 149, 0.50);
    color: $secondary;
    font-size: $font-stack;
    @include border-radius($btn-border-radius);
    &:hover {
        background-color: $secondary;
        color: $white
    }
    &:active {
        background-color: $secondary;
        color: $white
    }
}

@mixin topnav {
    color: $white;
    box-shadow: 0 2px 5px 0 rgba(149, 149, 149, 0.50);
    padding: 8px 20px;
    &:hover {
        background-color: $secondary;
        color: $white
    }

    &:focus {
        color: $white;
        outline: inherit;

    }
    &:active {
        background-color: $secondary;
        color: $white
    }
}

.btn {
    @include btn-theme();
    text: {
        decoration: none;
    }
}

body {
    font: 14px $font-stack;
    color: $dark;
    position: relative;
}

/*------Header-----*/

.fixed-top {
    z-index: 9999;
}

.navigation {
    .navbar-toggler {
        width: 40px;
        height: 35px;
        line-height: 0;
        color: rgba(0, 0, 0, .5);
        border-color: #ffffff;
        padding: 0px 0px;
        border-radius: 0px;
        background-color: $white;

    }
    .navbar-toggler-icon {
        width: 35;
        height: 2px;
        display: block;
        background-color: $dark;
        margin: 5px auto;
    }
}





header {
    background-color: $header-bg-color;
    box-shadow: $box-shadow;
    padding: $header-padding;

    .navbar {
        padding: 0 0.5rem;

    }
}


header ul li {

    padding: 0.5rem 0rem;

    .dropdown-toggle::after {
        display: none;
    }

    a {
        color: $white;
    }
    a:hover {
        color: $white;
    }
    a:focus {
        color: $white;
    }
    a.nav-link i {
        font-size: 13px;
        font-weight: 300;
    }

    .dropdown-menu {
        background: $white;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
        border: none;
        border-radius: 0px;
        font-family: $primary-lightExt-font;
        padding: 0px;
        /*top: 6px !important;*/
        a.dropdown-item {
            color: #000;
            font-size: 14px;
            padding: 10px 10px;
        }

        .dropdown-item:hover,
        .dropdown-item:focus {
            background-color: #DDDDDD;
        }
    }
}

/*------END Header-----*/

%equal-heights {
    display: flex;
    flex-wrap: wrap;
}

%message-shared {
    border: 1px solid #ccc;
    padding: 10px;
    color: #333;
}

.message {
    @extend %message-shared;
}

.success {
    @extend %message-shared;
    border-color: green;
}

.error {
    @extend %message-shared;
}

.warning {
    @extend %message-shared;
    border-color: yellow;
}

a.logo {
    max-width: 108px;
}

a.logo img {
    max-width: 100%;
}

/*------ Banner -----*/

/*.blue { margin-top: 50px;}*/

.banner-bg {
    background-color: #D8D8D8;
    text-align: center;
    font-family: $primary-regular-font;

    .carousel-item {
        padding-bottom: 80px;
    }
    .carousel-indicators li {
        border-radius: 50%;
        width: 10px;
        height: 10px;
    }
    .carousel-indicators .active {
        background-color: #071B22;
    }
    h1 {
        font-size: 36px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        color: #FFFFFF;
        padding-top: 111px;
    }
    h2 {
        font-size: 36px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        color: #FFFFFF;
        margin-bottom: 111px;
    }
    p {
        font-size: 16px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        color: $white;
        margin-bottom: 20px;
    }
    a.viewoffer {
        font-weight: 400;
        padding: 7px 35px;
        font-family: $primary-regular-font;
        text-transform: $text-transform;
        border-radius: $btn-border-radius;
        min-width: 182px;
    }
}

/*------END Banner-----*/

/*---Search Tour Plans---*/

.searchtour_plan {
    padding: 18px 0 16px 0;
    background-color: $blacklight;
    p {

        text-align: center;
        color: #fff;
        margin: 0px;
    }

    ul.nav-tabs {
        border: none;
        justify-content: center;
        li {
            display: inline-block;
            width: 20%;
            text-align: center;


            a.nav-link {
                border-radius: 3px;
                padding: 8px 24px;
                border-width: 1px;
                border-style: solid;
                border-color: $white;
                color: $white;
                margin: 20px 4px 8px 4px;
            }

            a.nav-link i {
                font-size: 19px;

            }



            a.nav-link.active,
            a.nav-link:hover,
            a.nav-link:focus,
            a.nav-item.show .nav-link {
                background-color: $theme-color;
                border-color: $theme-color;

            }


        }

    }


}

/*---END Search Tour Plans---*/

/*---Search Tour plan List ---*/

.tourlist {
    padding: 50px 0;

    h2 {
        font-size: 36px;
        color: #000;
        position: relative;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 30px;



        span {
            background-color: $white;
            display: inline-block;
            padding: 0 20px;
            position: relative;
            z-index: 1;
        }
    }

    h2:after {
        position: absolute;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        height: 1px;
        content: '';
        top: 22px;
        left: 0;
        right: 0;
    }

}



/* simple floatting */

.flipping_box,
.flipping_box.hover {
    -webkit-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
}

.flipping_box:hover .back,
.flipping_box.hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flipping_box:hover .front,
.flipping_box.hover .front {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flipper {
    width: 100%;
    height: 100%;
    position: relative;
}

.flipper .front,
.flipper .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;

    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);

    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    position: absolute;
    top: 0rem;
    left: 0rem;
    bottom: 0rem;
    box-shadow: $box-shadow;









}

.flipper .front {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    /*background: lightgreen;*/
    z-index: 2;
}

.flipper .back {
    background: rgba(0, 0, 0, 0.05);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}



.top_tour_sec {
    width: 100%;
    float: left;
    margin: 15px 0px;

    .back {
        background-color: $white;
        box-shadow: $box-shadow;
    }
}

.tourdetails {
    width: 100%;
    float: left;
    font-family: $primary-regular-font;

    .plan_image {
        position: relative;
        height: 200px;

        img {
            width: 100%;
            height: 100%;
        }

        .tourby {
            background-color: $theme-color;
            width: 99px;
            height: 40px;
            position: absolute;
            top: 10px;
            left: 0;
            border-radius: 0 20px 20px 0;

            .tourby_icon {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border-width: 2px;
                border-style: $btn-border-style;
                border-color: $theme-color;
                background-color: $white;
                color: $theme-color;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                position: absolute;

            }

            .airliance {
                right: 0;
            }

            .bus {
                right: -70px;

            }

            .car {
                right: -35px;

            }

        }

    }

    .toru_description {
        width: 100%;
    }

    .toru_name {
        width: calc(100% - 120px);
        float: left;
        background-color: $white;
        padding: 6px;
        float: left;

        h4 {
            font-size: 16px;
            font-family: $secondary-bold-font;
            margin: 0px;

        }
        p.more {
            color: $theme-color;

        }

        .dis {
            color: #000;
            padding: 52px 0 10px 0;
            margin: 0px;

        }
    }


    .toru_price {
        width: 120px;
        padding: 4px 10px;
        float: left;
        text-align: right;
        background-color: #f3f3f3;

        .price {
            font-size: 36px;
            color: $theme-color;
            font-family: $secondary-bold-font;

        }
        .dayes {
            font-size: 36px;
            color: $theme-text-color;
            padding-bottom: 24px;
            font-family: $secondary-bold-font;


            span {
                display: block;
            }


        }

        small {

            font-size: 10px;
            display: block;

        }

        .inclusive {
            font-size: 13px;
            padding-top: 24px;

        }
    }

    .offer_availabel {
        background-color: $theme-color;
        padding: 10px;
        text-align: center;
        color: $white;
        width: 100%;
        float: left;

        p {
            font-size: 11px;
            margin: 0px;

        }

        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
            li {
                width: 25%;
                float: left;
                padding: 7px 0 0 0;
                font-size: 24px;
                color: $white;
                font-family: $secondary-bold-font;
                p {
                    font-size: 12px;
                    margin: 0px;
                    text-transform: uppercase;
                    font-family: $primary-regular-font;
                }

            }

        }
    }


}

.flipp_back {
    background-color: $white;
    padding: 10px 10px 0 10px;

    h4 {
        font-size: 16px;
        font-family: $secondary-bold-font;
        margin: 0px;


    }
    p.more {
        color: $theme-color;

    }

    .alertmsg {
        font-size: 11px;
        margin: 0px;

    }


    .price {
        font-size: 36px;
        color: $theme-color;
        font-family: $secondary-bold-font;
    }

    .tourdetails {
        padding: 11px 0 0 0;

        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
            li {
                font-size: 14px;
                font-family: $primary-regular-font;
                text-shadow: none;
                padding: 0 0 10px 0;

                span {
                    display: inline-block;
                    min-width: 95px;
                    font-family: $secondary-bold-font;
                    color: $theme-color;
                    text-shadow: none;

                }

                strong {
                    display: inline-block;
                    font-family: $secondary-bold-font;
                    text-shadow: none;
                }

            }

        }

    }

    .block_2 {
        padding-top: 5px;

    }
    .titledetails {
        width: 100%;
        float: left;
        padding-top: 20px;
        margin: 0px 0px 8px;
        font-family: $secondary-bold-font;
    }

    .alertmsgbottom {
        width: 100%;
        float: left;
        font-size: 10px;
        padding: 20px 0 0 0;
        margin-top: 15px;
    }
}

.viewoffer_outer {
    width: 100%;
    position: absolute;
    bottom: 0rem;
    background-color: $theme-color;
    text-align: center;
    padding: 20px 20px;
    a.viewoffer {
        min-width: 220px;
        font-weight: 400;
        padding: 7px 35px;
        font-family: $primary-regular-font;
        text-transform: $text-transform;
        background-color: $white;
        color: $primary;
        display: inline-block;
        font: 16px $font-stack;
        text-decoration: $text_decoration_none;
        padding: 13px 20px;
        box-shadow: $btns-box-shadow;
    }

    a.viewoffer:hover {
        background-color: $secondary;
        color: $white;

    }
}





footer {
    background-color: $footer-bg-color;
    padding: 25px 0 0px 0;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0%;
    z-index: 9;

    ul {
        display: inline-block;

        li.footer_logo a:hover {
            background-color: transparent;
        }

        li {
            padding: 0 1px;
            min-width: 45px;

            a {
                border-width: 2px;
                border-style: solid;
                border-color: rgba(255, 255, 255, 0.6);
                display: inline-block;
                padding: 8px 6px;
                font-size: 16px;
                color: $white;

            }

            a:hover {
                color: $theme-color;
                background-color: $white;
                border-color: $white;
            }
        }
        li:first-child {
            padding: 0 60px 0 0;

            a {
                border-color: transparent;
            }
        }
    }

    .footernav {
        padding: 31px 0 0 0;
        color: rgba(255, 255, 255, 0.6);

        a {
            font-size: 11px;
            color: rgba(255, 255, 255, 0.6);
            display: inline-block;
        }

        span {
            display: inline-block;
            padding: 0 6px;
            font-size: 12px;

        }
    }

    .copyright {
        font-size: 11px;
        color: rgba(255, 255, 255, 0.6);
    }
}


/*---Departure City Modal----*/

.middbox {
    top: 10%;
}

.modal {
    z-index: 9999;
}



.modalbox {
    box-shadow: none;
    background-color: transparent;
    border: none;


}

.modal_outer {
    background: #FAFAFA;
    border-radius: 2px;
    margin: 0 80px;

    .modal_outer_sub {
        margin: 0 80px;

    }

    .modal-header {
        position: relative;
        border: none;

        button i {
            font-size: 14px;
            position: absolute;
            top: 15px;
            right: 15px;

        }
        button:focus {
            outline: none;
            border: none;


        }

        h4 {
            font-size: 20px;
            color: rgba(0, 0, 0, 0.87);
            font-family: $primary-regular-font;
            display: block;
            width: 100%;
        }

    }

    .modalform {
        padding: 20px;
        p {
            text-align: left;
            font-family: HelveticaNeue;
            font-size: 14px;
            line-height: 20px;
            text-shadow: none;
            color: $secondary;
            margin: 0px 0 10px 0;

        }




        .modalbottom_btn {
            text-align: right;
            a {
                text-transform: uppercase;
                display: inline-block;
                margin: 0 6px;
                padding: 4px 3px;
                color: $theme-color;
                font-weight: 300;

            }

            a:hover {
                text-decoration: none;

            }

        }


    }

    .profile_modal {
        display: inherit;

        button.close {
            position: absolute;
            top: 8px;
            right: 15px;
        }
    }



}



.fildes_outer {
    background-color: $fildes-background-color;
    border-width: $fildes-outer-border;
    border-color: $fildes-border-color;
    border-radius: $fildes-border-radius;
    position: $fildes-position;
    padding: $fildes-padding;
    border-style: $fildes-border-style;

    .input-group-btn {

        position: absolute;
        top: 4px;
        right: 0;

        button {
            background-color: transparent;
            box-shadow: none;
            color: $theme-text-color;
            &:hover {
                color: $theme-text-color;

            }

        }



    }

    label {
        position: absolute;
        font-size: 10px;
        color: $theme-color;
        margin: 0px;
        padding: 0px;
        display: block;
        text-align: left;
        padding: 2px 0 0 11px;
        top: 2px;



    }

    input[type=text],
    input[type=password],
    input[type=mail],
    input[type=number],
    input[type=select],
    input[type=number]:focus,
    input[type=text]:focus,
    input[type=mail]:focus,
    input[type=select]:focus,
    input[type=[password]]:focus {
        background-color: transparent;
        border: none;
        border-radius: 0;
        color: $secondary;
        box-shadow: none;

    }



    input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #071B22;
        font-size: 13px;
        text-shadow: none;
    }
    input::-moz-placeholder {
        /* Firefox 19+ */
        color: #071B22;
        font-size: 13px;
        text-shadow: none;
    }
    input:-ms-input-placeholder {
        /* IE 10+ */
        color: #071B22;
        font-size: 13px;
        text-shadow: none;
    }
    input:-moz-placeholder {
        /* Firefox 18- */
        color: #071B22;
        font-size: 13px;
        text-shadow: none;
    }
    .form-control {
        height: 35px;
        background-color: transparent;
        border: none;
        border-radius: 0;
        color: $secondary;
        box-shadow: none;
        padding: 6px 12px 0 12px;

    }

    .arrow_down {
        position: absolute;
        right: 4px;
        top: 12px;
        display: inline-block;

        i {
            font-size: 14px;
            color: #212121;



        }


    }




}

label.error {
    position: absolute;
    color: #f00;
    bottom: -15px;
    left: -10px;
    display: block;
    height: inherit;
    top: inherit;
    font-size: 12px;
    border: none;
}

.lable_title {
    color: $fildes-title-color;
    font-size: 14px;
    font-family: $primary-extended-font;
    position: relative;
    padding: 0 0 10px 28px;
    i {
        position: absolute;
        left: -2px;
        top: -3px;
        font-size: 19px;
        color: $fildes-title-color;

    }


}

.btns_default {
    border-radius: $btn-border-radius;
    box-shadow: $btns-box-shadow;
    font-size: $btn-font-size;
    background-color: $theme-color;
    padding: 7px 35px;
    color: $white;
    display: inline-block;
    min-width: 182px;
    text-align: center;

}

.btns_light_blue {
    background-color: $theme-color;
    color: $white;
    cursor: pointer;
}

.btns_light_blue:hover {
    background-color: $white;
    color: $theme-color;
}

.btns_capital {
    text-transform: $btns-text-transform;

}

.box_shadow_dark {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);

}




.toursearch_filter {
    background-color: $search-filter-bg-color;
    padding: 17px 0 20px 0;
    margin: 11px 0 0 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24);

    .row {
        margin-left: -5px;
        margin-right: -5px;

        [class^="col-"] {
            padding-left: 5px;
            padding-right: 5px;


        }



    }

    .bold_font {
        font-family: $secondary-bold-font;
    }

    .preference {

        color: $white;

        a {
            color: $white;
            i {

                font-size: 18px;
            }
        }

    }



    small.question {
        width: 16px;
        height: 16px;
        background: $white;
        border-radius: 50%;
        text-align: center;
        display: inline-block;
        position: relative;
        bottom: 3px;
        margin-left: 8px;
        cursor: pointer;


        i {
            color: #212121;
            font-size: 10px;
            position: relative;
            bottom: -2px;
            top: inherit;
            left: inherit;
            cursor: pointer;
        }

    }

}


.custom-select {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    border-radius: 0;
    overflow: hidden;
    background-color: $white;
    background: #fff url("../images/drop_down_con.svg") no-repeat;
    background-size: 14px;
    background-position: right 10px;
    height: 35px;


    select {
        padding: 9px 10px 2px 10px;
        width: 100%;
        border: none;
        box-shadow: none;
        background-color: transparent;
        background-image: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    select:focus {
        outline: none;
    }


}

/* Custom Checkbox Box */

.custom_check {
    display: inline-block;
    position: relative;
    cursor: pointer;
    line-height: 22px;
    position: relative;
    padding-left: 30px; // margin: 0;
    color: $white;
    font-size: 14px;

    input {
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        margin: 0px 0px;
        z-index: 2;
    }

    .check_indicator {
        height: 21px;
        width: 21px;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 0px;
    }

    input:checked + .check_indicator:after {
        background-color: $white;
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        left: -1px;
        top: -1px;
        z-index: 0;
    }

    input:checked + .check_indicator:before {
        width: 7px;
        height: 12px;
        position: absolute;
        background-color: $white;
        left: 5px;
        top: 1px;
        border: solid #212121;
        border-width: 0px 3px 3px 0px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        content: "";
        z-index: 1
    }
}

.selectmenu {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    border-radius: 0;
    overflow: hidden;
    background-color: $white;
    background: #fff url("../images/drop_down_con.svg") no-repeat;
    background-size: 14px;
    background-position: 98% 10px;
    height: 30px;


    select {
        padding: 9px 10px 2px 10px;
        width: 100%;
        border: none;
        box-shadow: none;
        background-color: transparent;
        background-image: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    select:focus {
        outline: none;
    }

}

/*----------*/

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slick-arrow.slick-hidden {
    display: none;
}

.modal_outer_man {
    position: relative;

}

/*----Modal--------*/

.personal_profile_form {
    .form-group {
        margin-bottom: 10px;
    }
}

.activity_preferences_title {
    margin: 20px 0px;
}

.activity_preferences__sec {
    margin-left: -10px;
    margin-right: -10px;

    [class^="col-"] {
        padding-left: 10px;
        padding-right: 10px;
    }
    .activity_preferences_thumb {
        width: 100%;
        height: 80px;
        border: 1px solid #f3f3f3;
        background-color: #ffffff;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: #bebebe;
    }

    ul {
        margin: 0px;
        padding: 0px 15px;
        list-style: none;


        li {

            width: 84px;
            height: 84px;

            float: left;
            padding: 4px;
            margin-bottom: 6px;
            border: 1px solid #f3f3f3;
            background-color: #ffffff;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            color: #bebebe;


        }
    }
}

/*---------END------*/

.subcat {
    padding-left: 50px;
}

.form-group {
    margin-bottom: 20px;
}

.m-10 {
    margin-top: 10px;
}

.m-15 {
    margin-top: 15px;
}

.m-20 {
    margin-top: 20px;
}

.m-25 {
    margin-top: 25px;
}

.p-5 {
    padding-top: 5px;
}

.p-10 {
    padding-top: 10px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.p-b-15 {
    padding-bottom: 15px;
}

.p-15 {
    padding-top: 15px;
}

.p-20 {
    padding-top: 20px;
}

.p-25 {
    padding-top: 25px;
}

/* update by (26/06/2018) */

.bottom_chat {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $primary;
    position: absolute;
    right: 30px;
    top: calc(100% - 270px);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    cursor: pointer;
    z-index: 9999;

    i {
        font-size: 36px;
    }
    .chat_msg_circle {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background-color: $theme-color;
        position: absolute;
        top: -3px;
        right: -3px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 17px;
        color: $white;
    }
}

.ui-datepicker {
    border: 0px !important;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
    /*overflow: hidden;*/
    padding: 0rem 0rem;
    margin-top: .8rem;
    .ui-widget-header {
        border: 0px;
        background-color: $primary-color;
        color: $white;
        font-weight: bold;
        border-radius: 3px 3px 0px 0px;
        .ui-icon-circle-triangle-w,
        .ui-icon-circle-triangle-e {
            background-image: url(../images/calendra_pre.svg);
            background-position: center center;
            background-size: 10px;
            border: 0px !important;
        }

        .ui-icon-circle-triangle-e {
            background-image: url(../images/calendra_next.svg);
        }
        .ui-datepicker-prev-hover {
            background-color: transparent !important;
            border: 0px !important;
            left: 2px;
            top: 2px;
            cursor: pointer;
        }
        .ui-datepicker-next-hover {
            background-color: transparent !important;
            border: 0px !important;
            right: 2px;
            top: 2px;
            cursor: pointer;
        }
    }
    .ui-widget-header::before {
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid $primary-color;
        position: absolute;
        top: -6px;
        left: 50%;
        display: block;
        content: '';
    }

    table {
        margin: 0rem 0rem;
        thead {
            tr {
                background-color: $primary-color;
                color: $white;
            }
        }
        tbody {
            tr:first-child {
                a {
                    margin-top: 0px;
                }
            }
        }
        td {
            padding: 0rem 0rem;
            a {
                border-color: #f6f6f6 !important;
                text-align: center;
                background-color: #f0f0f0 !important;
                color: #4a4a4a !important;
                padding: .4rem .5rem;
                margin: -1px 0px -1px 0px;
            }
            a.ui-state-highlight {
                background-color: #249dd0 !important;
                color: $white !important;
            }
            a.ui-state-active {
                background-color: $white !important;
                color: #249dd0 !important;
            }
        }
    }
}

/* Sign in */

.social_btn_link {
    margin-left: -10px;
    margin-right: -10px;

    [class^="col-"] {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.social_gplus,
.social_facebook {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    background-color: #dd4c39;
    font-family: $primary-extended-font;
    font-size: 14px;
    color: $white;
    text-transform: $text-transform;
    justify-content: center;
    padding: 13px 15px;

    i {
        position: absolute;
        left: 25px;
        font-size: 18px;
    }
    i.ic-google_plus_new {
        font-size: 24px;
    }

    &:hover {
        color: $white;
    }
}

.social_facebook {
    background-color: #3b5999;
    border: none;
}

.or_block {
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    color: $dark;
    text-align: $text-align;
    margin: 15px 0px;

    &::before {
        width: 100%;
        height: 1px;
        background-color: #979797;
        position: absolute;
        top: 50%;
        left: 0%;
        content: '';
    }

    span {
        display: inline-block;
        background-color: $white;
        position: relative;
        background-color: #fafafa;
        padding: 5px 8px;
    }

}

.signup_forms {
    width: 100%;
    float: left;

    .form-group {
        margin-bottom: 15px;
    }

    .custom_check {
        color: #071B22;
        font-size: 14px;
        margin: 10px 0px;

        .check_indicator {
            border-color: #071B22;
        }

        input:checked + .check_indicator {
            &::after {
                background-color: $btn-border-color;
            }
        }
    }

    .sign_btn {
        width: 100%;
        /* button bg: */
        background: #071B22;
        border: 1px solid #071B22;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
        /* BUTTON: */
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0.5px;
        text-align: center;
        cursor: pointer;
        text-transform: $text-transform;
        padding: 12px 15px;

        &:hover {
            background-color: #ffffff;
            color: #071B22;
        }
    }
    .bottom_text {
        width: 100%;
        float: left;
        /* Not a member? Sign U: */
        font-family: HelveticaNeue;
        font-size: 14px;
        color: $primary-color;
        letter-spacing: 0;
        line-height: 20px;
        margin: 10px 0px;

        a {
            color: $theme-color;
        }
    }
}

.booking-summary {

    position: relative;
    z-index: 9;

}

.itinerary_block {
    width: 100%;
    min-height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-content: stretch;

    .itinerary_left {
        width: $leftColumnwidth;
        float: left;
        background-color: $white;
        border-right: 1px solid $light;
        transition: all 0.5s ease-out;
        padding: 10px;

        &.active {
            margin-left: -$leftColumnwidth;
        }
    }
    .section_title {
        /* Booking Summary: */
        font-family: $secondary-bold-font;
        font-size: 20px;
        color: $header-bg-color;
        text-align: left;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
    }
    .itinerary_left_box {
        width: 100%;
        float: left;
        /* Mask: */
        background: $white;
        box-shadow: 0 1px 3px 0 rgba(161, 161, 161, 0.40);

        margin-bottom: 10px;
    }
    .itinerary_box_sort_title {
        /* Pricing & Travellers: */
        font-family: $secondary-bold-font;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.87);
        line-height: 20px;
        padding-right: 5px;
    }
    .itinerary_box_main_title {
        /* $AUD 81.40 Per Day: */
        font-family: $secondary-bold-font;
        font-size: 24px;
        color: $primary-color;
        line-height: normal;

        small {
            display: block;
            font-size: 58.3333%;
            font-family: $primary-regular-font;
        }
    }
    .fields_sec {
        .row {
            margin-left: -6px;
            margin-right: -6px;

            [class^="col"] {
                padding-left: 6px;
                padding-right: 6px;
            }
        }
        .form-group {
            margin-bottom: 10px;
        }
    }
    .itinerary_left_btns_sec {
        width: 100%;
        float: left;
    }
    .itinerary_right {
        width: calc(100% - #{$leftColumnwidth});
        float: left;
        transition: all 0.5s ease-out;
        position: relative;
        padding-right: 15px;

        &.active {
            width: 100%;
        }

    }

    .meaages_left {
        width: 100%;
        float: left;

    }

    .accommodation_outer {
        border-bottom: 1px solid #ccc;
        position: relative;
        cursor: pointer;

        &::after {
            display: block;
            clear: both;
            content: '';
        }


    }
    .accommodation {
        width: 100%;
        font-size: 14px;
        font-family: $primary-regular-font;
        float: left;


        .accommodation_icon {
            width: 48px;
            float: left;
            text-align: left;

            i {
                font-size: 22px;

            }

        }

        .accommodation_info {
            width: calc(100% - 48px);
            float: left;

            h5 {
                font-family: $secondary-bold-font;


            }

            ul {
                list-style: none;
                margin: 0px;
                padding: 0px;

                li {
                    font-size: 14px;
                    padding: 4px 0;
                    width: 100%;
                    float: left;

                    .title {
                        width: 100px;
                        float: left;

                        strong {
                            display: inline-block;
                            font-family: $secondary-bold-font;

                        }

                    }

                    .info {
                        width: calc(100% - 100px);
                        float: left;

                    }



                }
            }

        }


    }




}

input[type=button].btns_input_white,
button[type=button].btns_input_white {
    background-color: $white;
    box-shadow: $btns-box-shadow;
    padding: 8px 10px;
    color: $theme-text-color;
    border-radius: $fildes-border-radius;
    font-size: 14px;
    border: $btn-border;
}

input[type=button].btns_input_white:hover,
button[type=button].btns_input_white:hover {
    background-color: $theme-text-color;
    color: $white;
    font-size: 14px;
    border: $btn-border;
}

a.btns_input_white {
    background-color: $white;
    box-shadow: $btns-box-shadow;
    padding: 8px 10px;
    color: $theme-text-color;
    border-radius: $fildes-border-radius;
    font-size: 14px;
    border: $btn-border;
}

a.btns_input_white:hover,
a.btns_input_white:focus {
    background-color: $theme-text-color;
    color: $white;
    font-size: 14px;
    border: $btn-border;
}




input[type=button].btns_input_dark,
input[type=submit].btns_input_dark,
button[type=button].btns_input_dark {
    background-color: $theme-text-color;
    box-shadow: $btns-box-shadow;
    padding: 8px 20px;
    color: $white;
    border-radius: $fildes-border-radius;
    font-size: 14px;
    border: $btn-border;
}

input[type=button].btns_input_dark:hover,
input[type=submit].btns_input_dark:hover,
button[type=button].btns_input_dark:hover {
    background-color: $white;
    color: $theme-text-color;
    font-size: 14px;
    border: $btn-border;
}

a.btns_input_dark {
    background-color: $theme-text-color;
    box-shadow: $btns-box-shadow;
    padding: 8px 20px;
    color: $white;
    border-radius: $fildes-border-radius;
    font-size: 14px;
    border: $btn-border;
}

a.btns_input_dark:hover,
a.btns_input_dark:focus {
    background-color: $white;
    color: $theme-text-color;
    font-size: 14px;
    border: $btn-border;
}


a.btns_input_blue {
    background-color: $white;
    box-shadow: $btns-box-shadow;
    padding: 8px 20px;
    color: $theme-text-color;
    border-radius: $fildes-border-radius;
    font-size: 14px;
    border: $btn-border;
}

a.btns_input_blue:hover,
a.btns_input_blue:focus {
    background-color: $theme-color;
    color: $white;
    font-size: 14px;
    border: $btn-border;
}

.transform {
    text-transform: $btns-text-transform;

}

#map {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0%;
    left: 0%;
}


/* update by (28/06/2018) MKS */

.collapse_click {
    cursor: pointer;

    .ic-down_up {
        color: $blue;
    }
}

.itinerary_left_active {
    background-color: #f8f8f8 !important;

    .ic-expand_more {
        color: $blue;
    }
}

.right_form_click_block {
    width: 48px;
    height: 100%;
    background-color: rgba(255, 255, 255, .85);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: $box-shadow;
}

.map_top_link {
    width: 100%;
    float: left;

    li {
        width: 100%;
        float: left;

        a {
            background-color: $primary-color;
            font-size: 24px;
            color: $white;
            border-top: 1px solid $white;
            padding: 1.07rem .3rem;
        }

        &:first-child {
            a {
                border-top: 0px;
            }
        }
        &:hover,
        &.active {
            a {
                background-color: $blue;
            }
        }
    }
}

.click_map_hide {
    width: 100%;
    float: left;
    font-size: 16px;
    color: $primary-color;
    margin: 0rem 0rem 0rem;
    height: 100%;

    i {
        position: relative;
        top: 20%;
        display: inherit;
        transition: all 0.5s ease-out;


    }

    &:hover {
        color: $blue;
    }

    &.active {
        i {
            transform: rotate(180deg);
        }
    }
}









/*------Itinerary Page-----*/

.itinerary_page {
    .itinerary_hotel_list {
        background-color: $white;
        box-shadow: 0 1px 3px 0 rgba(161, 161, 161, 0.40);


        .hotlename {

            font-family: $primary-regular-font;

        }

        .night_charge {
            float: left;
            width: calc(100% - 80px);


            p {}


        }

        .dayes {
            font-family: $primary-regular-font;
            font-size: 18px;
            width: 80px;
            float: left;
            position: relative;


            span {
                font-size: 36px;
                color: $theme-text-color;
                font-family: $secondary-bold-font;
                display: block;

            }






        }
    }

    .datetimepick {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
        right: 0;
        width: 120px;
        margin: 0 auto;
    }

    a.blue {
        color: $blue;

    }



}


/*------itinerary filter top----*/

.itinerary_filter {
    .itinerary_titles {
        position: relative;
        padding-left: 60px;
        font-size: 20px;
        font-family: $primary-regular-font;

        .location {
            position: absolute;
            left: 4px;
            top: 4px;
            font-size: 26px;
        }

        h5 {
            font-family: $secondary-bold-font;
        }
    }

    .checkinout {
        position: relative;
        padding-left: 15px;

    }
    .filtered_arrow {
        position: absolute;
        top: 5px;
        left: 4px;
        font-size: 26px;
        color: #d6d6d6;
    }

    .filter_poperties {
        font-family: $primary-regular-font;



        span {
            width: 150px;
            float: left;
            font-family: $secondary-bold-font;


        }

        .poperties {
            float: left;
            width: calc(100% - 150px);

            ul {
                margin: 0px;
                padding: 0px;
                list-style: none;

                li {
                    float: left;

                }

            }

        }

        .filtericons {

            a {
                font-size: 20px;
                color: $theme-text-color;

            }

            a.active {

                i {

                    color: $theme-color;
                }

            }


        }




    }


}



/*------Itinerary Page-----*/

.itinerary_page {

    .itinerary_hotel_list {
        background-color: $white;
        box-shadow: 0 1px 3px 0 rgba(161, 161, 161, 0.40);


        .hotlename {

            font-family: $primary-regular-font;

        }

        .night_charge {
            float: left;
            width: calc(100% - 80px);


            p {

                strong {
                    font-family: $secondary-bold-font;

                }

            }


        }

        .dayes {
            font-family: $primary-regular-font;
            font-size: 18px;
            width: 80px;
            float: left;
            position: relative;


            span {
                font-size: 36px;
                color: $theme-text-color;
                font-family: $secondary-bold-font;
                display: block;

            }






        }



    }

    .listactive {
        background-color: rgba(36, 157, 208, 0.1);
    }

    ul {
        margin: 0px;
        padding: 0px;

        li {
            font-family: $primary-regular-font;
            font-size: 14px;
            line-height: 22px;

        }


    }

    .rating {
        span {
            font-size: 20px;
            min-width: 21px;
            max-width: 21px;


        }


    }

    .cat_name {
        font-size: 20px;
        font-family: $primary-lightExt-font;

    }



}



.custom-select-top {
    padding: 0 10px 0 0;
    margin: 0;
    border: none;
    width: 100%;
    border-radius: 0;
    overflow: hidden;
    background-color: $white;
    background: #fff url("../images/icon-arrow.png") no-repeat;
    background-size: auto;
    background-position: 98% 8px;
    height: 30px;
    font-size: 14px;
    font-family: $primary-regular-font;


    select {
        padding: 0px 10px 2px 10px;
        width: 100%;
        border: none;
        box-shadow: none;
        background-color: transparent;
        background-image: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    select:focus {
        outline: none;
    }


}



/*---Gird view---*/

.itinerary_page {

    overflow-x: auto;
    overflow-y: hidden;

}

.itinerary_gridview_listing {
    background: $white;
    box-shadow: 0 1px 3px 0 rgba(161, 161, 161, 0.4);

    .itinerary_listing {
        height: 175px;
        overflow: hidden;
    }



    .gridview_dis {

        h6 {
            font-family: $secondary-bold-font;
            color: $theme-text-color;
        }
        h4 {
            font-family: $secondary-bold-font;
            color: $theme-color;
            font-size: 24px;
        }

        small {
            color: $dark;

        }

        p {
            strong {
                font-family: $secondary-bold-font;


            }

        }




    }
}



/*-----accommodation 02 July ---*/

.accommodation_top {
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;

        li {
            font-size: 14px;
            font-family: $secondary-bold-font;
            position: relative;

            i {
                position: absolute;
                left: 0;
                top: 0;
                font-size: 18px;
            }

            i.ic-navigate_before {

                font-size: 14px;
                top: 2px;
            }

            a {
                font-family: $primary-regular-font;
                color: $dark;

            }

            strong {
                font-family: $secondary-bold-font;

            }

        }
    }


}



.hotel_listtitle {
    background: $white;



    .hotlename {

        font-family: $primary-regular-font;

    }

    .night_charge {
        float: left;
        width: calc(100% - 80px);


        p {

            strong {
                font-family: $secondary-bold-font;

            }

        }


    }

    .dayes {
        font-family: $primary-regular-font;
        font-size: 18px;
        width: 80px;
        float: left;
        position: relative;


        span {
            font-size: 36px;
            color: $theme-text-color;
            font-family: $secondary-bold-font;
            display: block;

        }






    }

    .cat_name {
        font-size: 20px;
        font-family: $primary-lightExt-font;

    }
}

/*-----thumb slider------*/

.owl-carousel {
    -webkit-tap-highlight-color: transparent;
    position: relative;
    .owl-item {
        -webkit-tap-highlight-color: transparent;
        position: relative;
    }
    display: none;
    width: 100%;
    z-index: 1;
    .owl-stage {
        position: relative;
        -ms-touch-action: pan-Y;
        touch-action: manipulation;
        -moz-backface-visibility: hidden;
        &:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }
    }
    .owl-stage-outer {
        position: relative;
        overflow: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        height: 145px;
    }
    .owl-item,
    .owl-wrapper {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
    }
    .owl-item {
        min-height: 1px;
        float: left;
        -webkit-backface-visibility: hidden;
        -webkit-touch-callout: none;
        img {
            display: block;
            width: 100%;
        }
    }
    .owl-dots.disabled,
    .owl-nav.disabled {
        display: none;
    }
}

.no-js .owl-carousel {
    display: block;
}

.owl-carousel {
    &.owl-loaded {
        display: block;
    }
    .owl-dot {
        cursor: pointer;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .owl-nav {
        .owl-next,
        .owl-prev {
            cursor: pointer;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        button {
            &.owl-next,
            &.owl-prev {
                background: 0 0;
                color: inherit;
                border: none;
                padding: 0 !important;
                font: inherit;
            }
        }
    }
    button.owl-dot {
        background: 0 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin: 0 3px;
        color: inherit;
        border-color: $theme-text-color;
        border-style: solid;
        border-width: 1px;
        padding: 0 !important;
        font: inherit;
    }

    button.active {
        background-color: $theme-text-color;

    }

    button.active:hover,
    button.active:focus {
        box-shadow: none;
        outline: none;
    }
    &.owl-loading {
        opacity: 0;
        display: block;
    }
    &.owl-hidden {
        opacity: 0;
    }
    &.owl-refresh .owl-item {
        visibility: hidden;
    }
    &.owl-drag .owl-item {
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    &.owl-grab {
        cursor: move;
        cursor: grab;
    }
    &.owl-rtl {
        direction: rtl;
        .owl-item {
            float: right;
        }
    }
    .animated {
        animation-duration: 1s;
        animation-fill-mode: both;
    }
    .owl-animated-in {
        z-index: 0;
    }
    .owl-animated-out {
        z-index: 1;
    }
    .fadeOut {
        animation-name: fadeOut;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.owl-height {
    transition: height .5s ease-in-out;
}

.owl-carousel {
    .owl-item {
        .owl-lazy {
            opacity: 0;
            transition: opacity .4s ease;
            &:not([src]),
            &[src^=""] {
                max-height: 0;
            }
        }
        img.owl-lazy {
            transform-style: preserve-3d;
        }
    }
    .owl-video-wrapper {
        position: relative;
        height: 100%;
        background: #000;
    }
    .owl-video-play-icon {
        position: absolute;
        height: 80px;
        width: 80px;
        left: 50%;
        top: 50%;
        margin-left: -40px;
        margin-top: -40px;

        cursor: pointer;
        z-index: 1;
        -webkit-backface-visibility: hidden;
        transition: transform .1s ease;
        &:hover {
            -ms-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
        }
    }
    .owl-video-playing {
        .owl-video-play-icon,
        .owl-video-tn {
            display: none;
        }
    }
    .owl-video-tn {
        opacity: 0;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: opacity .4s ease;
    }
    .owl-video-frame {
        position: relative;
        z-index: 1;
        height: 100%;
        width: 100%;
    }
}


.accommodation_tabs {

    .nav-tabs {
        .nav-item {
            width: 33.333%;


            a {

                background-color: $white;
                box-shadow: $btns-box-shadow;
                padding: 12px 20px;
                color: $theme-text-color;
                border-radius: $fildes-border-radius;
                font-size: 14px;
                border: $btn-border;
            }

            a:hover {
                box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
                background-color: $theme-color;
                color: $white;


            }

            a.active {
                box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
                background-color: $theme-color;
                color: $white;


            }
        }


    }





}

.accommodation_tabs_content {

    h4 {
        font-family: $secondary-bold-font;
        font-size: 20px;
        color: $theme-text-color;
    }

    ul {
        margin: 0px;
        padding: 0px;

        li {

            line-height: 22px;

        }


    }

    p {
        font-family: $primary-regular-font;
        font-size: 14px;

    }

    strong {
        font-family: $secondary-bold-font;

    }

    .amenities {
        ul {
            li {
                width: 50%;
                float: left;
                line-height: 22px;


            }


        }


    }
    .amenities-full {
        ul {
            li {
                width: 100%;

                line-height: 22px;


            }


        }


    }



}




/*----Accommodation Accordion-----*/

.accommodation_accordion {

    font-family: $primary-regular-font;
    line-height: 22px;


    .card-header {
        padding: 0px;
        box-shadow: 0 1px 3px 0 rgba(161, 161, 161, 0.40);
        background-color: $white
    }
    .thumb {
        width: 177px;
        float: left;
    }


    .roomes {
        width: calc(100% - 177px);
        float: left;
        padding: 12px;
        line-height: 18px;
    }

    .pricebox:after {
        content: '';
        height: 80%;
        left: 0;
        top: 10%;
        width: 1px;
        background-color: #ddd;
        position: absolute;


    }

    .pricebox {
        position: relative;
        padding: 11px 11px 0 11px;





        .price {
            font-size: 36px;
            font-family: $secondary-bold-font;
            line-height: 36px
        }


    }


    .card-body {
        background: $white;
        box-shadow: 0 1px 3px 0 rgba(161, 161, 161, 0.40);
    }

    ul.deluxe_room {
        margin: 0px;
        padding: 0px;
        list-style: none;
        li {
            line-height: 22px;

            strong {
                min-width: 100px;

            }


        }


    }

    table.borderless {
        border-top-style: none;
        border-left-style: none;
        border-right-style: none;
        border-bottom-style: none;
        font-size: 14px;



        td,
        th {
            border-top-style: none;
            border-left-style: none;
            border-right-style: none;
            border-bottom-style: none;
            padding: 0.40rem;

        }

        span {
            min-width: 80px;


        }

    }


    .price_outer {
        position: relative;
        padding: 11px 0px 0 11px;





        .price {
            font-size: 36px;
            font-family: $secondary-bold-font;
            line-height: 36px
        }
    }

    .selectbed {
        width: 190px;

    }


}

.owl-dots {
    text-align: center;
    width: 100%;
    padding: 14px 0 0 0;


}

.room_rates_filter_block {
    margin-left: -5px;
    margin-right: -5px;

    [class^="col-"] {
        padding-left: 5px;
        padding-right: 5px;

        .row {
            margin-left: -5px;
            margin-right: -5px;

            .form-group {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
}

.updatemodal {

    font-family: $primary-regular-font;
    line-height: 22px;

    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;

        li {
            width: 100%;
            float: left;
        }


        .title_update {
            width: 180px;
            float: left;

            span {
                font-family: $secondary-bold-font;
            }

        }
        .dis_update {
            width: calc(100% - 180px);
            float: left;

        }
    }


    a {
        color: $theme-color;
        font-size: 14px;


    }


}



.overlay_div {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;

}





.routesidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 48px;
    background-color: $white;
    overflow-x: hidden;

    padding: 0px;
    box-shadow: 0 1px 3px 0 rgba(161, 161, 161, 0.4);

    img {
        width: 100%;

    }



    a {


        display: block;
        transition: 0.3s;
    }

    a:hover {
        color: #f1f1f1;
    }


    .closebtn {

        font-size: 16px;
        color: $theme-text-color;
    }

    .root_title {
        font-size: 20px;
        font-family: $primary-regular-font;

        i {

            font-size: 18px;
        }

    }

    .current-route {
        font-size: 14px;


        i {

            font-size: 12px;
        }

    }

    .outerrout {
        padding: 10px 10px;
        width: 100%;

    }
}

/*-------------Transports Found----------*/

.transportsfound {
    .flight-header {
        box-shadow: 0 1px 3px 0 rgba(161, 161, 161, 0.4);
        background-color: #fff;
        padding-top: 0.55rem;
        padding-bottom: 0.55rem;

        p {
            margin-bottom: 8px;

        }
    }

    .flight-header[aria-expanded='true'] {
        background-color: rgba(36, 157, 208, .1);

    }

    [aria-expanded='true'].activetabe,
    [aria-expanded='false'].activetabe {
        background-color: rgba(36, 157, 208, .1);

    }


    .flight-body {
        background: #fff;
        box-shadow: 0 1px 3px 0 rgba(161, 161, 161, 0.4);
    }

    .flight_img {
        display: flex;
        height: 65px;
        align-items: center;
        align-content: center;

    }


    .flight_details {
        width: calc(100% - 40px);
        float: left;



        p {
            margin-bottom: 0.5rem;
            font-family: $primary-regular-font;

            strong {
                font-family: $secondary-bold-font;



            }

        }
    }

    .amount {
        font-size: 30px;
        line-height: 13px;
    }
    .flight_icons {
        width: 40px;
        float: left;
        font-size: 22px;
        text-align: center;
    }

}

.transport_filter {

    ul {
        margin-top: -5px;

        li {

            i {
                position: inherit;
                left: inherit;
                right: inherit;
                top: inherit;
                font-size: 13px;
                color: $theme-text-color;


            }
        }
    }

    .nav {}

    .show {
        a {
            background-color: transparent;
            white-space: inherit;
        }

        .nav-link {
            background-color: transparent;
            color: $theme-text-color;

        }

    }

    .dropdown-menu {

        box-shadow: 0 1px 3px 0 rgba(161, 161, 161, 0.4);
        width: 100%;
        padding: 0;

        li {


            a {
                color: $theme-text-color;
                padding: 8px 15px;

                &:hover {

                    background-color: $theme-text-color;
                    color: $white;

                }

            }

        }

    }

}

.data-loader {
    text-align: center;
    width: 350px;
    display: flex;
    height: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 16px;

    .data-loader i {

        font-size: 14px;


    }

}



.map-loading {

    #map-loader {

        background: rgba(255, 255, 255, 0.85);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;


        .loader-block {
            width: 50%;
            margin: 0 auto;
            position: relative;
            top: 14%;
            border: 1px solid rgba(223, 223, 223, 0.30);
            padding: 25px 15px 15px 15px;
            background: rgba(255, 255, 255, .6);
            box-shadow: 0 1px 3px 0 rgba(35, 31, 32, 0.40);
            text-align: center;

            h3#itenary_message_id {
                font-size: 16px;

            }

        }



    }

}


.routesidenav {
    height: 100%;
    width: 250px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0px;
    background-color: $white;
    overflow-x: hidden;
    padding: 0px;
    box-shadow: 0 1px 3px 0 rgba(161, 161, 161, 0.4);
    margin-left: -257px;
    transition: all 0.5s ease-out;
}

.itinerary_block {

    .itinerary_left {
        width: 350px;
        float: left;
        background-color: $white;
        border-right: 1px solid #f4f4f4;
        transition: all 0.5s ease-out;
        padding: 10px;
        z-index: 2;
    }

}

/*------------*/

#reorder-locations {
    padding-left: 0px;
    li {
        padding: 10px;
    }

    .ui-state-default {
        background: $white;
        box-shadow: 0 0px 6px 0 rgba(161, 161, 161, 0.40);
        .location_icons {
            width: 30px;
            float: left;

        }

        .locations_info {
            width: calc(100% - 30px);
            float: left;


        }

        i {
            font-size: 18px;


        }
    }

    .ui-state-default {
        margin-top: 0px;
        margin-bottom: 10px;
    }
}


.route-container {
    border-radius: 2px;
    border: 2px solid #918F8F;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: .23s;
}

.route-container:hover {
    color: #2AA9DF;
    border-color: #2AA9DF;
}



/*------*/

/*-------Activities------------*/

.activities {
    font-size: 14px;
    font-family: $primary-regular-font;
    line-height: 22px;

    .activities_list {
        width: 100%;
        background: $white;
        box-shadow: 0 1px 3px 0 rgba(161, 161, 161, 0.4);
        position: relative;

        .hotel-close {

            position: absolute;
            right: 10px;
            top: 7px;
            z-index: 1;
        }






    }

    .listactive {
        background-color: rgba(36, 157, 208, 0.1);
    }

    .pt-68 {
        padding-top: 68px;

    }

    .active_detiles_page {

        li {

            margin-bottom: 0;
            a {
                border-bottom: 2px solid $white;
                text-transform: uppercase;
                color: $theme-text-color;

            }

            :hover {

                border-bottom: 2px solid #212121;

            }

            .active {
                border-bottom: 2px solid #212121;

            }
        }


    }

}




.pagetop_title {

    h2 {
        font-size: 20px;
        font-family: $secondary-bold-font;


    }
}

.save_itinerary {

    .itinerary_list {

        box-shadow: 0 1px 3px 0 rgba(35, 31, 32, 0.4);
        line-height: 22px;
        font-size: 14px;

        table {
            tr {
                th {
                    padding: 0.35rem;
                }
            }

            tr {
                td {
                    padding: 0.55rem 0.15rem;

                    .price {
                        padding: 0 15px;

                        input {
                            height: 30px;
                        }

                    }

                    a {
                        color: $theme-color;



                    }
                }
            }



        }

    }


    .tour_info {
        width: calc(100% - 50px);
        float: left;

    }

    .tour_icon {
        float: left;
        width: 50px;
        font-size: 20px;

    }


    .returning_customers {

        .title {
            font-size: 20px;
            font-family: $primary-regular-font;
        }

        .login-or {
            text-align: center;

            span {
                background-color: $white;
                display: inline-block;
                position: relative;
                top: -15px;
                color: $theme-color;
                font-family: 'HelveticaNeue';
            }
        }



    }
}

.continue_guest {
    box-shadow: 0 1px 3px 0 rgba(35, 31, 32, 0.4);

    .heading {
        font-size: 20px;
        cursor: pointer;

        div[aria-expanded="false"] {

            a.false {
                background-color: $secondary;
                color: $white;
                width: 22px;
                height: 22px;
                display: block;
                font-size: 22px;
                text-align: center;

                span {
                    position: relative;
                    top: -4px;

                }

            }
            a.true {
                background-color: $secondary;
                color: $white;
                width: 22px;
                height: 22px;
                display: none;
                font-size: 22px;
                text-align: center;

                span {


                    text-align: center;


                }



            }

        }

        div[aria-expanded="true"] {


            a.false {
                display: none;
                background-color: $secondary;
                color: $white;
                width: 22px;
                height: 22px;
                text-align: center;
                font-size: 22px;

                span {}

            }
            a.true {
                background-color: $secondary;
                color: $white;
                display: block;
                width: 22px;
                height: 22px;
                text-align: center;

                span {
                    position: relative;
                    top: -9px;


                }



            }


        }

    }

}


.default_color {
    background-color: rgba(36, 157, 208, .1);
}



.locations_map {
    .map_detail {
        position: relative !important;

    }
}

.loader_container {

    position: absolute;
    left: 0;
    right: 0;
    width: 200px;
    margin: auto;
    top: 35%;

}

.activities_nav {
    li {
        a.disabled {
            cursor: no-drop;
            color: #777 !important;
            background-color: #fff !important;
            border-color: #fff !important;

        }
    }
}

.traveller-details {
    .itinerary_address {
        min-height: 48px;
        max-height: 50px;

    }

}



/*-----------*/

.stepsouter {
   .tripDetails-wrapper {
    display: none;
}
    .profile-steps {
        .circle {
            width: 30px;
            height: 30px;
            background-color: $white;
            border: solid 1px $gray-300;
            border-radius: 50%;
            margin: 0 auto 10px auto;
            position: relative;
            z-index: 1;
            display: inline-block;
        }
        ul {
            @include media-breakpoint-down(sm) {
                display: flex;
            }
            li:not(:first-of-type) {
                &::before {
                    content: "";
                    width: 100%;
                    border-bottom: solid 1px $gray-300;
                    display: block;
                    position: relative;
                    top: 27%;
                    right: 50%;
                    @include media-breakpoint-down(sm) {
                        top: 20%;
                    }
                }

            }
            li.profile-fill {
                .circle {
                    background-color: $theme-color;
                    border-color: $theme-color;
                }
                &::before {
                    border-bottom: solid 1px $theme-color;
                }
            }
            li.profile-halffill {
                .circle {
                    border-color: $theme-color;
                }
                &::before {
                    border-bottom: dotted 1px $theme-color;
                }
            }
            li {
                float: left;
                width: 20%;
                .nav-link {
                    color: $primary;
                    &:hover {
                        border-color: transparent;
                        color: $theme-color;
                        outline: none;
                    }
                    &:focus {
                        outline: none;
                        border-color: transparent;
                    }
                }
            }
        }

    }

    .payment-steps {
        .circle {
            border-color: $theme-color;
            color: $theme-color;
        }
        ul {
            li:not(:first-of-type) {
                &::before {
                    border-bottom: solid 1px $theme-color;
                }
            }
        }
    }

      .tripDetails-top {
                    background-color: #D8D8D8;
                    padding: 10px;
                    i {
                        font-size: 1.2rem;
                    }
                }


}

.map_auto_sort{

        position: absolute;
    right: 0;
    top: 26px;
    width: 160px;
    z-index: 2;
    font-weight: 600;
    
    a{
    position: relative;
    top: 4px;
    
    }

}




/*

$font-stack: HelveticaNeue,
sans-serif;
$primary-regular-font: HelveticaNeue,
sans-serif;
$secondary-bold-font: HelveticaNeue-Bold,
sans-serif;
$primary-extended-font: HelveticaNeueMedium11,
sans-serif;
$primary-lightExt-font: HelveticaNeueLight08,
sans-serif;
$primary-boldExt-font: harabara_maisharabaramaisdemo,
sans-serif;
$primary-color: #212121;



$box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.24);
$header-padding:1px 0;
$footer-bg-color: #212121;
$header-bg-color: #071B22;
$search-filter-bg-color: rgba(7, 27, 38, 0.8);



$primary: #071B22;
$secondary: #212121;
$danger: #f53d3d;
$light: #f4f4f4;
$dark: #212121;
$white: #ffffff;
$blue: #249DD0;
$blacklight: rgba(7, 27, 38, 0.8);
$text-align: center;
$text-transform: uppercase;
$text_decoration_none: none;

=>btns

$btn-border-radius:0;
$btn-border-width:1px;
$btn-border-color:transparent;
$btn-primary-background-color:#ffffff;
$btn-lightblue-background-color:#249DD0;
$btn-border-style:solid;
$btn-font-size:14px;
$btns-box-shadow:0 2px 5px 0 rgba(149, 149, 149, 0.50);
$btns-text-transform:uppercase;
$btn-border:none;


=>Theme Color

$theme-color:#249DD0;
$theme-text-color:#212121;
$search-bg-color: #071B22;



=>text-color

$footer-text-color:#fff;

=>forms-color

$fildes-outer-border:1px;
$fildes-background-color:#ffffff;
$fildes-position:relative;
$fildes-border-radius:0px;
$fildes-padding:7px 0px 0 0px;
$fildes-border-color:#F3F3F3;
$fildes-border-style:solid;
$fildes-title-color:#fff;

*/

@import "_tours";
@import "_account";
@import "_responsive";
